<h1>Events for: <%= @day %></h1>


<% @temp2.each do |event| %>
	
	<div class = 'eventdiv'>
		<p>Event title: <%= event.event %> </p>
		<p>Event Description: <%= event.description %> </p>
		<p>Event Time:  <%= event.event_time.to_formatted_s(:time) %> </p>
	</div>


<% end %>