// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

.username{
	float: right;
	font-size: 18px;
}
#nav_links{
	margin-top: 20px;
	float: right;
	margin-right: 10px;
}
#title{
	width: 300px;
	float: left;
}
.clear{
	clear:both;
}
.nav{
	background: -webkit-gradient(linear, left top, left bottom, from(#4a494a), to(#000000));
	background: -moz-linear-gradient(top,  #4a494a,  #000000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a494a', endColorstr='#000000');
	height: 75px;
	padding: 2px 20px;
	color: white;
	margin-bottom: 0px;
}
#date_hour{
	margin-bottom: 0px;
	width: 180px;
}
#date_minute{
	margin-bottom: 0px;
	width: 180px;
}
#calendar_description{
	width: 400px;
}
#calendar_event{
	width: 400px;
}
#myModal{
	margin-bottom: 10px;
}
#main{
	padding: 0px 10%;
}
.well{
	margin-top: 15px;
}
.btn-custom {
font-weight: bold;
  background-color: hsl(187, 7%, 8%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#611c61", endColorstr="#19022e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#472963), to(#19022e));
  background-image: -moz-linear-gradient(top, #472963, #19022e);
  background-image: -ms-linear-gradient(top, #472963, #19022e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #472963), color-stop(100%, #19022e));
  background-image: -webkit-linear-gradient(top, #472963, #19022e);
  background-image: -o-linear-gradient(top, #472963, #19022e);
  background-image: linear-gradient(#472963, #19022e);
  border-color: #19022e #19022e hsl(187, 7%, 2%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}
btn:active{
	border: 1px solid black;
}
link{
	color: #472963;
}
a{
	color: #a07cd2;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
}
a:hover{
	color: white;
	text-decoration: none;
}

.delete_link:hover{
	color: #653b8c;
}
