// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dayhead{
	

	border: 2px solid green;
	height: 50px;
	width: 120px;

}
.regday{
	
	border: 1px solid red;
	height: 120px;
	width: 120px;
}

#headMonth{
	

	color: blue;
	font-size: 30px;
	border: 1px solid yellow

}